<% if current_user.cards.empty? %>
  <p class="lead"><%= t(:no_added_cards) %></p>
<% elsif current_user.cards_for_review.empty? %>
  <p class="lead"><%= t(:no_review_card_text) %></p>
<% elsif card %>
  <h2><%= t(:current_card_label) %></h2>

  <%= simple_form_for card, url: review_card_path(card_id: card.id),
                      method: :put do |f| %>
    <% if card.image? %>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-3 col-md-2 card_image">
            <p class="thumbnail">
              <%= image_tag card.image_url %>
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.input :original_text,
                  label: t(:original_text_label),
                  input_html: { class: 'form-control', disabled: true } %>
    </div>
    <div class="form-group">
      <%= f.input :user_translation, as: :translation,
                  label: t(:translated_text_label),
                  input_html: { class: 'form-control', required: true,
                                autofocus: true } %>
    </div>

    <%= f.button :submit, t(:check_card_button), class: 'btn btn-default' %>
  <% end %>
<% end %>


